.image{
    width: 20px;
    height: 15px;
}

.hoverLink {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.hoverLink:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(116, 113, 113);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  
  margin-bottom: 12px;
}
.hoverLink:hover:after { 
  width: 100%; 
  left: 0; 
}